<div *ngIf="_product.navigation" class="form-group">
    <button [routerLink]="['/product-info',_product.navigationUrl]" id="demo-btn-addrow" class="btn btn-outline-info"><i class="icon wb-plus" aria-hidden="true"></i>
      Descripción
    </button> &nbsp; <button [routerLink]="['/product-data', _product.navigationUrl]" id="demo-btn-addrow" class="btn btn-outline-info"><i class="icon wb-plus" aria-hidden="true"></i>
      Data
    </button> &nbsp;
    <button [routerLink]="['/filters', _product.navigationUrl]" id="demo-btn-addrow" class="btn btn-outline-info"><i class="icon wb-plus" aria-hidden="true"></i>
      Atributos
    </button> &nbsp;
    <button [routerLink]="['/product-discount', _product.navigationUrl]" id="demo-btn-addrow" class="btn btn-outline-info"><i class="icon wb-plus" aria-hidden="true"></i>
      Descuentos
    </button> &nbsp;
    <button [routerLink]="['/product-special', _product.navigationUrl]" id="demo-btn-addrow" class="btn btn-outline-info"><i class="icon wb-plus" aria-hidden="true"></i>
      Especial
    </button> &nbsp;
    <button [routerLink]="['/product-images', _product.navigationUrl]" id="demo-btn-addrow" class="btn btn-outline-info"><i class="icon wb-plus" aria-hidden="true"></i>
      Imagenes
    </button>

</div>