<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ordenes</h4>
                <h6 class="card-subtitle">Tabla de ordenes</h6>
                <div class="table-responsive m-t-40">
                    <div id="myTable_wrapper" class="dataTables_wrapper no-footer">

                        <div id="myTable_filter" class="dataTables_filter">
                            <label>
                            Buscar:
                            <input placeholder="Ej: 1024" type="search" class=""  aria-controls="myTable">
                          </label></div>
                        <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 190px;">Número de orden</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 301px;">Cliente</th>
                                    <!--<th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 141px;">Status</th>-->
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 73px;">Total</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 132px;">Fecha del pedido</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 111px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let td of TableOrder" role="row" class="odd">
                                    <td class="sorting_1">{{td.invoice_prefix}}&nbsp;{{td.invoice_no}}</td>
                                    <td>{{td.firstname}}&nbsp;{{td.lastname}}</td>
                                    <!--<td>
                                        <span class="badge badge-success">Completado</span>
                                    </td>-->
                                    <td>${{td.total | number}}</td>
                                    <td>{{td.date_added | date}}</td>
                                    <td>
                                        <button [routerLink]="['/invoice', td.order_id]" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                      </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dataTables_info" id="myTable_info" role="status" aria-live="polite"></div>
                        <div class="dataTables_paginate paging_simple_numbers" id="myTable_paginate">
                            <a class="paginate_button previous" aria-controls="myTable" data-dt-idx="0" tabindex="0" id="myTable_previous">
                              Anterior</a>
                            <span>
                        
                        
                        </span>

                            <a class="paginate_button next" aria-controls="myTable" data-dt-idx="7" tabindex="0" id="myTable_next">Siguiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>