<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mis productos</h4>
                <h6 class="card-subtitle">Lista de productos que vendes en Ragazza</h6>
                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"> {{ itemsPosted }} </h1>
                                <h6 class="text-white">Productos publicados</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"> {{ itemsSells }} </h1>
                                <h6 class="text-white">Ventas</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>

                                <th>Imagen</th>
                                <th>Nombre del producto</th>
                                <th>Modelo</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let tableData of TABLE; let i = index;">
                            <tr>
                                <td>
                                    <a href="javascript:void(0)">
                                        <img [src]="imagesUrl + tableData.image" alt="user" style="width:70px" class="img-circle img-thumbnail" />
                                    </a>
                                </td>
                                <td>
                                    {{ tableData.name.name }}
                                </td>
                                <td>
                                    {{ tableData.model }}
                                </td>

                                <td>
                                    {{ tableData.price }}
                                </td>
                                <td>
                                    {{ tableData.quantity }}
                                </td>
                                <td>
                                    <span *ngIf="tableData.status" class="label label-warning">Disponible</span>
                                    <span *ngIf="!tableData.status" class="label label-danger">Desactivado</span>

                                </td>
                                <td>
                                    <!--<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete">
                                      asdasd
                                    </button>-->
                                    <button (click)="editItem(tableData)" class="btn btn-primary">
                                      <span class="ti-pencil"></span>
                                    </button>
                                    <button (click)="deleteItem(tableData, i)" style="margin-left: 3px" class="btn btn-secondary">
                                        <span class="ti-trash"></span>
                                      </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <a [routerLink]="['/product-info','nuevo']" class="btn btn-info btn-rounded">
                                        <i class="mdi mdi-hanger"></i>&nbsp;Agregar producto nuevo
                                    </a>
                                </td>
                                <td colspan="6">
                                    <div class="text-right">
                                        <ul class="pagination"> </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>