<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div style="margin-top:3em" class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>Proceso de pago</b> <span class="pull-right"></span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                          <h3> &nbsp;<b class="text-danger">Datos del comprador</b></h3>
                          <p class="text-muted m-l-5">E 104, Dharti-2,
                              <br> Nr' Viswakarma Temple,
                              <br> Talaja Road,
                              <br> Bhavnagar - 364002</p>
                      </address>
                        <h3>Rellena estos campos</h3>
                        <form class="form-material">
                            <div class="form-group">
                                <select class="form-control">
                              <option selected disabled value="null">Selecciona un tipo de documento</option>
                              <option value="ruc">RUC</option>
                              <option value="CI">Cédula de identidad</option>
                            </select>
                            </div>
                            <div class="form-group">
                                <input placeholder="Número de documento" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Description</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Unit Cost</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Milk Powder</td>
                                    <td class="text-right">2 </td>
                                    <td class="text-right"> $24 </td>
                                    <td class="text-right"> $48 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Air Conditioner</td>
                                    <td class="text-right"> 3 </td>
                                    <td class="text-right"> $500 </td>
                                    <td class="text-right"> $1500 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>RC Cars</td>
                                    <td class="text-right"> 20 </td>
                                    <td class="text-right"> %600 </td>
                                    <td class="text-right"> $12000 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>Down Coat</td>
                                    <td class="text-right"> 60 </td>
                                    <td class="text-right">$5 </td>
                                    <td class="text-right"> $300 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: $13,848</p>
                        <p>vat (10%) : $138 </p>
                        <hr>
                        <h3><b>Total :</b> $13,986</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>