<app-links></app-links>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información general del artículo</h4>
                <h6 class="card-subtitle">Completa este formulario para crear tu artículo.</h6>
                <form ngNativeValidate #form="ngForm" (ngSubmit)="FormVerification(form)" class="form-material m-t-40">
                    <div class="form-group m-b-40">
                        <span class="bar"></span>
                        <label for="input1"><code>*</code>Nombre del artículo</label>
                        <input name="name" [(ngModel)]="name" data-original-title="Nombre del artículo" required title="text" type="text" class="form-control">
                    </div>
                    <div class="form-group m-b-5">
                        <span class="bar"></span>
                        <label for="input7"><code>*</code>Descripción del artículo</label>
                        <textarea name="description" [(ngModel)]="description" required data-original-title="Coloca la descripción o información de tu producto" class="form-control" rows="4"></textarea>
                    </div>
                    <br>
                    <h4><strong>Datos para ayudar a posicionar tu artículo</strong></h4>
                    <br>
                    <div class="form-group m-b-40">
                        <span class="bar"></span>
                        <label for="input2"><code>*</code>Meta tag del árticulo</label>
                        <input name="tag" [(ngModel)]="tag" data-toggle="tooltip" data-placement="bottom" required title="" data-original-title="Para posicionar mejor tu producto Ejemplo, Ropa Fashion mujer" type="text" class="form-control">
                    </div>
                    <div class="form-group m-b-40">
                        <span class="bar"></span>
                        <label for="input3">Descripción del meta Tag <small>(Opcional)</small></label>
                        <input name="meta_description" [(ngModel)]="meta_description" type="text" class="form-control">
                    </div>
                    <div class="form-group m-b-40">
                        <span class="bar"></span>
                        <label for="input4">Palabras clave <small>(Opcional)</small></label>
                        <input name="meta_keyword" [(ngModel)]="meta_keyword" type="text" class="form-control">
                    </div>
                    <div class="form-group m-b-40">
                        <span class="bar"></span>
                        <label for="input5">Tags del artículo <small>(Opcional)</small></label>
                        <span class="help-block">
                            <small>
                                Para añadir tags a tu artículo separados por coma. Ejemplo: Ropa, Moda, Fashion
                            </small>
                            <input name="meta_separadores" [(ngModel)]="meta_separadores" type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Rellena esto si quieres añadir tags!!">
                            </span>
                    </div>
                    <div class="form-group m-b-40">
                        <button type="submit" class="btn btn-outline-danger">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>