<!-- ============================================================== -->
<!-- Comment -->
<!-- ============================================================== -->
<li style="margin-top:15px" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
        <ul>
            <li>
                <div class="drop-title">Notificaciones</div>
            </li>
            <li>
                <div class="message-center">
                    <!-- Message -->
                    <a [routerLink]="['/products']" *ngFor="let push of Notifications">
                        <div class="btn btn-danger btn-circle">
                            <i class="mdi mdi-shopping"></i>
                        </div>
                        <div class="mail-contnet">
                            <h5>Nueva venta!</h5>
                            <span class="mail-desc"> {{ push.message }} </span>
                            <span class="time"> {{ push.date }} </span>
                        </div>
                    </a>
                </div>
            </li>
            <!-- <li>
                <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
            </li>-->
        </ul>
    </div>
</li>
<!-- ============================================================== -->
<!-- End Comment -->
<!-- ============================================================== -->