<app-links></app-links>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Animated line inputs</h4>
                <h6 class="card-subtitle">Completa este formulario para poder postear tu artículo <code>* Campos requeridos</code></h6>
                <form class="form-material m-t-40">
                    <div class="form-group">
                        <label>Fabricante:<code><small>(Opcional)</small></code></label>
                        <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                    </div>
                    <div class="form-group">
                        <label>Categoría:<code><small>(Opcional)</small></code></label>
                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                    </div>
                    <div class="form-group">
                        <label>Subcategoría:<code><small>(Opcional)</small></code></label>
                        <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                    </div>
                    <div class="form-group">
                        <label>Filtro Principal:<code><small>(Opcional)</small></code></label>
                        <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
                    </div>
                    <div class="form-group">
                        <label>Filtro secundario:<code><small>(Opcional)</small></code></label>
                        <select class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>