<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">

        <div class="card">
            <div class="card-body">

                <div class="m-t-30">
                    <!--[src]="profile.shop_photo | images"-->
                    <img *ngIf="!imagePreview" [src]="profile.shop_photo | images" class="img-circle" width="150" />
                    <img *ngIf="imagePreview" width="150" class="img-circle" [src]="imagePreview">
                    <h4 class="card-title m-t-10"> {{ profile.shop_name }} </h4>
                    <h6 class="card-subtitle">Cuenta de Empresas</h6>
                    <br>
                    <form class="form-material">
                        <div class="form-group">
                            <label></label>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div *ngIf="!buttonSend">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                     <span class="fileinput-new">Selecciona una imagen</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="hidden">
                                    <input type="hidden">
                                    <input (change)="profileChanged( $event.target.files[0])" type="file" name="shop_photo">
                                    </span>
                                </div>
                                <button (click)="sendObjectToBackend()" *ngIf="buttonSend" class="btn btn-outline-danger btn-block">
                                        Actualizar imagen
                                </button>
                            </div>
                        </div>
                        <fieldset style="display:none">
                            <input [(ngModel)]="shop_name" type="hidden" name="shop_name">
                            <input [(ngModel)]="shop_address" type="hidden" name="shop_address">
                            <input [(ngModel)]="shop_phone" type="hidden" name="shop_phone">
                            <input [(ngModel)]="user_id" type="hidden" name="user_id">
                        </fieldset>
                    </form>
                </div>

            </div>
            <div>
                <hr> </div>
            <div class="card-body"> <small class="text-muted">Correo electrónico </small>
                <h6> {{ profile.shop_email }} </h6> <small class="text-muted p-t-30 db">Teléfono</small>
                <h6> {{ profile.shop_phone }} </h6> <small class="text-muted p-t-30 db"> Dirección </small>
                <h6> {{ profile.shop_address }} </h6>

                <br/>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">

                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Datos de perfíl</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form ngNativeValidate #f="ngForm" (ngSubmit)="updateProfile(f)" class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Nombre de la empresa</label>
                                <div class="col-md-12">
                                    <input name="shop_name" [(ngModel)]="shop_name" required type="text" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Dirección</label>
                                <div class="col-md-12">
                                    <input name="shop_address" [(ngModel)]="shop_address" required type="text" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Teléfono</label>
                                <div class="col-md-12">
                                    <input name="shop_phone" [(ngModel)]="shop_phone" required type="number" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <fieldset style="display:none">
                                <input [(ngModel)]="user_id" name="user_id" type="hidden">
                            </fieldset>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button [disabled]="!f.valid" type="submit" class="btn btn-success">Actualizar perfil</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->