<app-links></app-links>
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h6 class="card-subtitle">
                <button class="btn btn-info">
                                    <i class="fa fa-camera"></i>&nbsp;Agregar una imagen
                                </button>
            </h6>
        </div>
    </div>
</div>
<div class="row el-element-overlay">
    <div class="col-md-12">
        <h4 class="card-title">Gallery page</h4>
        <h6 class="card-subtitle m-b-20 text-muted">you can make gallery like this</h6>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img1.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img2.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img3.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img4.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img3.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img5.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img6.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img1.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-pencil"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-trash"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                    <br/> </div>
            </div>
        </div>
    </div>
</div>