<app-links></app-links>
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h6 class="card-subtitle">
                <button (click)="showModal()" class="btn btn-info">
                    <i class="fa fa-camera"></i>&nbsp;Agregar una imagen
                 </button>
            </h6>
        </div>
    </div>
</div>
<div class="row el-element-overlay">
    <div class="col-md-12">
        <h4 class="card-title">Galeria de imagenes de este producto</h4>
        <h6 class="card-subtitle m-b-20 text-muted">Agrega las imagenes que deseas mostrar en la tienda</h6>
    </div>
    <div *ngFor="let images of arrayImagenes; let i = index;" class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img [src]="'http://ragazzashop.com/ragazza_backend/image/' + images.image" alt="user" />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li>
                                <button type="button" (click)="getImageId(images, i)" class="btn default btn-outline image-popup-vertical-fit">
                                    <i class="icon-pencil"></i>
                                </button>
                            </li>
                            <li>
                                <button (click)="deleteItem(images, i)" type="button" class="btn default btn-outline">
                                    <i class="icon-trash"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-image></app-modal-image>